html

head
    title= "formulario"
    link(rel="stylesheet" href="/css/formulario.css")

body

form(action='#')
  header
    h2 Example Responsive Form
    div
      | This form breaks at 600px and goes from a left-label form to a top-label form. At above 1200px, the labels align right.
  div
    label#title1.desc(for='Field1') titulo
    div
      input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
  div
    label#title1.desc(for='Field1') subtitulo
    div
      input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
  div
    label#title1.desc(for='Field1') descripcion
    div
      input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
  div
    label#title1.desc(for='Field1') categoria
    div
      input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
  div
    label#title1.desc(for='Field1') autor
    div
      input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
  div
    label#title3.desc(for='Field3')
      | imagen
    div
      input#Field3(name='Field3', type='email', spellcheck='false', value='', maxlength='255', tabindex='3')
  div
    label#title1.desc(for='Field1') tags
    div
      input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', tabindex='1')
  div
    label#title4.desc(for='Field4')
      | contenido
    div
      textarea#Field4(name='Field4', spellcheck='true', rows='10', cols='50', tabindex='4')
  div
    fieldset
      legend#title5.desc
        | status
      div
        input#radioDefault_5(name='Field5', type='hidden', value='')
        div
          input#Field5_0(name='Field5', type='radio', value='First Choice', tabindex='5', checked='checked')
          label.choice(for='Field5_0') borrador
        div
          input#Field5_1(name='Field5', type='radio', value='Second Choice', tabindex='6')
          label.choice(for='Field5_1') publicado
  div
    fieldset
      legend#title6.desc
        | Check All That Apply
      div
        div
          input#Field6(name='Field6', type='checkbox', value='First Choice', tabindex='8')
          label.choice(for='Field6') First Choice
        div
          input#Field7(name='Field7', type='checkbox', value='Second Choice', tabindex='9')
          label.choice(for='Field7') Second Choice
        div
          input#Field8(name='Field8', type='checkbox', value='Third Choice', tabindex='10')
          label.choice(for='Field8') Third Choice
  div
    label#title106.desc(for='Field106')
      | Select a Choice
    div
      select#Field106.field.select.medium(name='Field106', tabindex='11')
        option(value='First Choice') First Choice
        option(value='Second Choice') Second Choice
        option(value='Third Choice') Third Choice
  div
    div
      input#saveForm(name='saveForm', type='submit', value='Submit')

script(type="text/javascript" src="/js/createpost.js")
