html

head
    title= "index"
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/estilos.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')

    

body
  include partials/menu.pug
  include partials/publicaciones.pug
  