html

head
    title= "login"
    link(rel="stylesheet" href="/css/login.css")

body
.login-wrap
  .login-html
    input#tab-1.sign-in(type='radio', name='tab', checked='')
    label.tab(for='tab-1') iniciar sesion
    input#tab-2.sign-up(type='radio', name='tab')
    label.tab(for='tab-2') crear cuenta
    .login-form
      .sign-in-htm
        .group
          label.label(for='user') nombre del usuario
          input#user.input(type='text')
        .group
          label.label(for='pass') contraseña
          input#pass.input(type='password', data-type='password')
        .group
          input#check.check(type='checkbox', checked='')
          label(for='check')
            span.icon
            |  recordar sesion
        .group
          input.button(type='submit', value='inicar sesion')
        .hr
        .foot-lnk
          a(href='#forgot') ¿olvidaste tu contraseña?
      .sign-up-htm
        .group
          label.label(for='user') nombre del nuevo usuario
          input#user.input(type='text')
        .group
          label.label(for='pass') contraseña
          input#pass.input(type='password', data-type='password')
        .group
          label.label(for='pass') repite tu contraseña
          input#pass.input(type='password', data-type='password')
        .group
          label.label(for='pass') registra tu correo
          input#pass.input(type='text')
        .group
          input.button(type='submit', value='Sign Up')
        .hr
        .foot-lnk
          label(for='tab-1')
            | Already Member?
