html

head
    title= "post"
    link(rel="stylesheet" href="/css/publicaciones.css")
    link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')
body

    header
      .overlay
        h1 Simply The Best
    .publicacion
      .detalles1
        img(src='https://images-na.ssl-images-amazon.com/images/I/61JkjKyvtKL._SL1024_.jpg', alt='')
      .detalles2
       .tabs
        .tab-2
          label(for='tab2-1') One
          input#tab2-1(name='tabs-two', type='radio', checked='checked')
          div
            h4 Tab One
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat id velit quis vestibulum. Nam id orci eu urna mollis porttitor. Nunc nisi ante, gravida at velit eu, aliquet sodales dui. Sed laoreet condimentum nisi a egestas.
            p
              | Donec interdum ante ut enim consequat, quis varius nulla dapibus. Vivamus mollis fermentum augue a varius. Vestibulum in sapien at lectus gravida lobortis vulputate sed metus. Duis scelerisque justo et maximus efficitur. Donec eu eleifend quam. Curabitur aliquet commodo sapien eget vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum vel aliquet nunc, finibus posuere lorem. Suspendisse consectetur volutpat est ut ornare.
        .tab-2
          label(for='tab2-2') Two
          input#tab2-2(name='tabs-two', type='radio')
          div
            h4 Tab Two
            p
              | Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque varius elit in neque ornare commodo ac non tellus. Mauris id iaculis quam. Donec eu felis quam. Morbi tristique lorem eget iaculis consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean at tellus eget risus tempus ultrices. Nam condimentum nisi enim, scelerisque faucibus lectus sodales at.

    .relacionado
      .relacion1 
        h3 relacionado
        img(src='https://respuestas.tips/wp-content/uploads/2019/02/depositphotos_58480719-stock-photo-free-computer-hotspot-generation-technology.jpg', alt='')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro similique reprehenderit laudantium enim, cumque ullam architecto ex recusandae culpa asperiores! Quibusdam voluptatum voluptatem nihil obcaecati quae pariatur eveniet, numquam totam.
      .relacion2 
        h3 relacionado
        img(src='https://i.pinimg.com/564x/a5/a0/e5/a5a0e52839708cb3e19bf4741cbfef23.jpg', alt='')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro similique reprehenderit laudantium enim, cumque ullam architecto ex recusandae culpa asperiores! Quibusdam voluptatum voluptatem nihil obcaecati quae pariatur eveniet, numquam totam.
      .relacion3 
        h3 relacionado
        img(src='https://cdnmundo4.img.sputniknews.com/images/107732/54/1077325417.jpg', alt='')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro similique reprehenderit laudantium enim, cumque ullam architecto ex recusandae culpa asperiores! Quibusdam voluptatum voluptatem nihil obcaecati quae pariatur eveniet, numquam totam.
    footer
      .overlay
        h5 copyright@ 2020
        h5 Lorem ipsum dolor sit, amet consectetur adipisicing elit. At exercitationem minus corporis magnam. Eos similique atque iusto ab repellendus quisquam ipsum, neque molestias illo, placeat, ipsa sapiente. Error, voluptatum reprehenderit.        
