    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        height: 900px;
    }
    
    header {
        background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        font-family: 'Lato', ;
        overflow: hidden;
        border-radius: 0 0 85% 85% / 30%;
    }
    
    header .overlay {
        width: 100%;
        height: 20%;
        padding: 50px;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;
        background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    }
    
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 80px;
        margin-bottom: 30px;
    }
    
    p {
        font-family: Helvetica;
        margin-bottom: 30px;
        margin: 30px;
        color: #535353;
        text-align: justify;
    }
    
    img {
        width: 100%;
        margin: 0px 0;
    }
    
    .publicacion {
        display: grid;
        background: white;
        grid-template-columns: auto auto auto;
        margin: 30px;
        padding: 30px;
        grid-template-areas: "a a a a a a b b b b b b" "c c c c c c c c c c c c";
    }
    
    .detalles1 {
        grid-area: a;
        text-decoration: none;
        box-shadow: 6px 6px 6px black;
        margin: 30px;
    }
    
    .detalles2 {
        grid-area: b;
        text-decoration: none;
    }
    
    .relacionado {
        display: grid;
        background: white;
        grid-template-columns: auto auto auto;
        margin: 30px;
        grid-template-areas: "d d d d e e e e f f f f";
    }
    
    .relacion1 {
        grid-area: d;
        text-decoration: none;
        transition: all 400ms;
    }
    
    .relacion1:hover {
        box-shadow: 6px 6px 6px black;
        transform: translateY(3px);
    }
    
    .relacion2 {
        grid-area: e;
        text-decoration: none;
        transition: all 400ms;
    }
    
    .relacion2:hover {
        box-shadow: 6px 6px 6px black;
        transform: translateY(3px);
    }
    
    .relacion3 {
        grid-area: f;
        text-decoration: none;
        transition: all 400ms;
    }
    
    .relacion3:hover {
        box-shadow: 6px 6px 6px black;
        transform: translateY(3px);
    }
    
    h3 {
        text-align: center;
    }
    
    footer {
        background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 0 0 / 30%;
    }
    
    footer .overlay {
        width: 100%;
        height: 10%;
        padding: 10px;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;
        background-image: linear-gradient( 135deg, #17BEBB 10%, #443742 100%);
    }
    
    h5 {
        font-family: 'Dancing Script', cursive;
    }
    
    a {
        background: #fd264f;
        color: #fff;
        display: block;
        font-size: 12px;
        line-height: 1em;
        margin: 0;
        padding: 5px 110px;
        position: fixed;
        top: 20px;
        right: -100px;
        text-align: center;
        text-decoration: none;
        transform: rotate(45deg);
    }
    
    button:focus,
    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }
    
    .tabs {
        display: block;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        overflow: hidden;
    }
    
    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
        cursor: pointer;
        display: block;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1em;
        padding: 2rem 0;
        text-align: center;
    }
    
    .tabs [class^="tab"] [type="radio"],
    .tabs [class*=" tab"] [type="radio"] {
        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .tabs [class^="tab"] [type="radio"]:hover,
    .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
        border-bottom: 1px solid #fd264f;
    }
    
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
        border-bottom: 2px solid #fd264f;
    }
    
    .tabs [class^="tab"] [type="radio"]:checked+div,
    .tabs [class*=" tab"] [type="radio"]:checked+div {
        opacity: 1;
    }
    
    .tabs [class^="tab"] [type="radio"]+div,
    .tabs [class*=" tab"] [type="radio"]+div {
        display: block;
        opacity: 0;
        padding: 2rem 0;
        width: 90%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .tabs .tab-2 {
        width: 50%;
    }
    
    .tabs .tab-2 [type="radio"]+div {
        width: 200%;
        margin-left: 200%;
    }
    
    .tabs .tab-2 [type="radio"]:checked+div {
        margin-left: 0;
    }
    
    .tabs .tab-2:last-child [type="radio"]+div {
        margin-left: 100%;
    }
    
    .tabs .tab-2:last-child [type="radio"]:checked+div {
        margin-left: -100%;
    }
    
    @media screen and (max-width: 940px) {
        .publicacion {
            display: grid;
            background: white;
            grid-template-columns: auto;
            margin: 30px;
            padding: 30px;
            grid-template-areas: "a a a a a a a a a a a a" "b b b b b b b b b b b b" "c c c c c c c c c c c c";
        }
    }
    
    @media screen and (max-width: 940px) {
        .relacionado {
            display: grid;
            background: white;
            grid-template-columns: auto;
            margin: 30px;
            grid-template-areas: "d d d d d d d d d d d d" "e e e e e e e e e e e e" "f f f f f f f f f f f f";
        }
    }
    
    @media screen and (max-width: 940px) {
        h1 {
            font-family: 'Dancing Script', cursive;
            font-size: 40px;
            margin-bottom: 30px;
        }
    }