svg(xmlns='http://www.w3.org/2000/svg', style='display:none;')
  defs
    symbol#icon-facebook(viewBox='0 0 60 60')
      path(d='M25.8 46.3h6.7V30H37l.6-5.6h-5.1v-2.8c0-1.5.1-2.3 2.2-2.3h2.8v-5.6H33c-5.4 0-7.3 2.7-7.3 7.3v3.4h-3.4V30h3.4v16.3zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30z')
    symbol#icon-linkedin(viewBox='0 0 60 60')
      path(d='M46.8 44.1V32.4c0-6.3-3.3-9.2-7.8-9.2-3.6 0-5.2 2-6.1 3.4v-2.9h-6.8c.1 1.9 0 20.4 0 20.4h6.8V32.7c0-.6 0-1.2.2-1.7.5-1.2 1.6-2.5 3.5-2.5 2.5 0 3.4 1.9 3.4 4.6V44l6.8.1zM19 20.9c2.4 0 3.8-1.6 3.8-3.5 0-2-1.5-3.5-3.8-3.5s-3.8 1.5-3.8 3.5 1.4 3.5 3.8 3.5zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30zm-7.6-15.9V23.7h-6.8v20.4h6.8z')
    symbol#icon-twitter(viewBox='0 0 60 60')
      path(d='M34.2 18.3c-2.6 1-4.3 3.4-4.1 6.1l.1 1-1-.1c-3.8-.5-7.1-2.1-10-4.9L17.7 19l-.4 1c-.8 2.3-.3 4.7 1.3 6.3.8.9.6 1-.8.5-.5-.2-.9-.3-1-.2-.1.1.4 2.1.8 2.8.5 1.1 1.7 2.1 2.9 2.7l1 .5h-1.2c-1.2 0-1.2 0-1.1.5.4 1.4 2.1 2.8 3.9 3.5l1.3.4-1.1.7c-1.7 1-3.6 1.5-5.6 1.6-.9 0-1.7.1-1.7.2 0 .2 2.6 1.4 4 1.9 4.5 1.4 9.8.8 13.7-1.6 2.8-1.7 5.7-5 7-8.2.7-1.7 1.4-4.9 1.4-6.4 0-1 .1-1.1 1.2-2.3.7-.7 1.3-1.4 1.5-1.6.2-.4.2-.4-.9 0-1.8.6-2 .6-1.2-.4.6-.7 1.4-1.9 1.4-2.3 0-.1-.3 0-.7.2-.4.2-1.2.5-1.8.7l-1.1.4-1-.7c-.6-.4-1.4-.8-1.8-.9-.9-.4-2.6-.4-3.5 0zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30z')
.hero
  header#masthead(role='banner')
    .container
      button.hamburger.hamburger--boring(type='button')
        span.hamburger-box 
          span.hamburger-inner
        span.hamburger-label menu 
      form#masthead-search 
        input.draw(type='search', name='s', aria-labelledby='search-label', placeholder='Search…')
        button(type='submit') →
      nav#site-nav(role='navigation')
        .col
          h4 Inicio
          ul
            li
              a(href='#') Informacion
            li
              a(href='#') Conocenos
            li
              a(href='#') Visitanos
        .col
          h4 temas
          ul
            li
              a(href='/login') iniciar sesion
            li
              a(href='#') Tema 2
            li
              a(href='#') Tema 3
        .col
          h4 autores
          ul
            li
              a(href='#') Autor 1
            li
              a(href='#') Autor 2
            li
              a(href='#') Autor 3
        .col
          ul.social
            li
              a(href='')
                svg(title='Facebook')
                  use(xlink:href='#icon-facebook')
            li
              a(href='')
                svg(title='Twitter')
                  use(xlink:href='#icon-twitter')
            li
              a(href='')
                svg(title='LinkedIn')
                  use(xlink:href='#icon-linkedin')
                  
script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=")
script(type="text/javascript" src="/js/jquery.script.js")