html

head
    title= "post"
    link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')

    

body
.blog-card
  .meta
    .photo(style='background-image: url(https://i.pinimg.com/474x/2f/47/60/2f4760f2b53862f1f46b5e3d84bd5dfa.jpg)')
    ul.details
      li.author
       | edson
      li.date Aug. 24, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') HTML
          li
            a(href='#') CSS
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='/post') ver detalles
.blog-card
  .meta
    .photo(style='background-image: url(https://vignette.wikia.nocookie.net/hitlerparody/images/8/82/Steve_ok.png/revision/latest?cb=20171129103931&path-prefix=es)')
    ul.details
      li.author
        |  mario
      li.date Aug. 24, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') HTML
          li
            a(href='#') CSS
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='/login') ver detalles
  .blog-card.alt
  .meta
    .photo(style='background-image: url(https://i.ytimg.com/vi/_luQMxsU0dM/maxresdefault.jpg)')
    ul.details
      li.author
        |  carlos
      li.date July. 15, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') JavaScript
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='#') ver detalles
.blog-card
  .meta
    .photo(style='background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSF5c3E8KMOjy9oovz8FUwRXxavhu85AvDbFcFG4YNnPmuCwigC')
    ul.details
      li.author
        |  daniel
      li.date Aug. 24, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') HTML
          li
            a(href='#') CSS
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='#') ver detalles
  .blog-card.alt
  .meta
    .photo(style='background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2019-01/22/14/asset/buzzfeed-prod-web-03/sub-buzz-21343-1548185071-2.png?downsize=700:*&output-format=auto&output-quality=auto')
    ul.details
      li.author
        |  javier
      li.date July. 15, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') JavaScript
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='#') ver detalles

.blog-card
  .meta
    .photo(style='background-image: url(https://lh3.googleusercontent.com/proxy/m0IV9Q2mF-mfj9gSgZxfQDTJs-004osnIuyBSDHKJKgoJe4CYeTyrz5xvcm3RLN2aVD6SSMKekwBUmfZBubAgCnuTkNi1JTpKXWFL4QARcM0SwGIO7E1aRTmGNrD4hG8jHjxk1qxtkMfAfez4rIc-9ZE_Z_KogCXOlzWYNGquQ')
    ul.details
      li.author
       |  otros
      li.date Aug. 24, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') HTML
          li
            a(href='#') CSS
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='#') ver detalles
  .meta
    .photo(style='background-image: url(https://plantillasdememes.com/img/plantillas/y-dale-con-eso01572929325.jpg')
    ul.details
      li.author
        |  otros
      li.date July. 15, 2020
      li.tags
        ul
          li
            a(href='#') Learn
          li
            a(href='#') Code
          li
            a(href='#') JavaScript
  .description
    h1 detalles de la publicacion
    h2 subtitulo
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    p.read-more
      a(href='#') ver detalles
footer
  .overlay
        h5 copyright@ 2020
        h5 Lorem ipsum dolor sit, amet consectetur adipisicing elit. At exercitationem minus corporis magnam. Eos similique atque iusto ab repellendus quisquam ipsum, neque molestias illo, placeat, ipsa sapiente. Error, voluptatum reprehenderit.        
